{% extends 'back.njk' %}

{% block title %}Pays index{% endblock %}

{% block bodyback %}
    <h1>Pays index</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>id_pays :</th>
            <td>{{ pays.id_pays }}</td>
        </tr>
        <tr>
            <th>Nom :</th>
            <td>{{ pays.Nom }}</td>
        </tr>
        </tbody>
    </table>

    <a href="/gestion/pays/{{ pays.id_pays }}/edit" class="btn btn-warning">Modifier</a>
    <a href="/gestion/pays/{{ pays.id_pays }}/sup" class="btn btn-danger">Supprimer</a>

{% endblock %}