{% extends 'back.njk' %}

{% block javascript %}
<script src="/js/form/epreuve/form_epreuve.js" type="module" defer></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block bodyback %}
    <input type="hidden" id="type_url_api" value="{{ type_url_api }}">
    <h1>{{ title }}</h1>
    <div class="message" role="alert"></div>
    <form>
        <div class="form-group">
            <label for="Nom">Nom :</label>
            <input type="text" class="form-control" id="Nom" placeholder="Nom" name="Nom" value="{{ epreuve.Nom }}">
        </div>
        <div class="form-group">
            <label for="sport_id">sport_id :</label>
            <select class="form-control" id="sport_id" name="sport_id">
                {% for sport in sports %}
                    <option {% if epreuve.sport_id == sport.id_sport %}selected="selected"{% endif %} value="{{ sport.id_sport }}">{{ sport.id_sport }} - {{ sport.Nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="sexe">athlete_id :</label>
            <select class="form-control" id="athlete_id" name="athlete_id">
                {% for athlete in athletes %}
                    <option {% if epreuve.athlete_id == athlete.id_athlete %}selected="selected"{% endif %} value="{{ athlete.id_athlete }}">{{ athlete.id_athlete }} - {{ athlete.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
{% endblock %}