{% extends "base.njk" %}

{% block body %}

    <div class="row">
        <div class="col-2" id="menuBack">
            <h2>Gestion</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/">Sports</a>
                </li>
                <li class="list-group-item">
                    <a href="/">Epreuves</a>
                </li>
                <li class="list-group-item">
                    <a href="/">Athletes</a>
                </li>
                <li class="list-group-item">
                    <a href="/">Pays</a>
                </li>
                <li class="list-group-item">
                    <a href="/">Titres olympiques</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            {% block bodyback %}{% endblock %}
        </div>
    </div>


{% endblock %}