{% extends "base.njk" %}

{% block body %}

    <div class="row">
        <div class="col-2" id="menuBack">
            <h2>Gestion</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/gestion/sports/">Sports</a>
                </li>
                <li class="list-group-item">
                    <a href="/gestion/epreuves/">Epreuves</a>
                </li>
                <li class="list-group-item">
                    <a href="/gestion/athletes/">Athletes</a>
                </li>
                <li class="list-group-item">
                    <a href="/gestion/pays/">Pays</a>
                </li>
                <li class="list-group-item">
                    <a href="/gestion/titres/">Participation olympiques</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            {% block bodyback %}{% endblock %}
        </div>
    </div>


{% endblock %}