#logo_jo{
    width: 30px;
}

#menuBack{
    border-right: 1px solid black;
}

.imageCart {
    max-width: 400px;
    overflow: hidden;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 5%;
}
