{% extends 'back.njk' %}

{% block title %}{{ title }}{% endblock %}

{% block bodyback %}
    <h1>{{ title }}</h1>
    <form>
        <div class="form-group">
            <label for="nom">athlete_id :</label>
            <input type="text" class="form-control" id="athlete_id" placeholder="athlete_id" name="athlete_id">
        </div>
        <div class="form-group">
            <label for="prenom">epreuve_id :</label>
            <input type="text" class="form-control" id="epreuve_id" placeholder="epreuve_id" name="epreuve_id">
        </div>
        <div class="form-group">
            <label for="prenom">medaille_id :</label>
            <input type="number" class="form-control" id="medaille_id" placeholder="medaille_id" name="medaille_id">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
{% endblock %}