{% extends 'back.njk' %}

{% block title %}Participation index{% endblock %}

{% block bodyback %}
    <h1>Participation index</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>id_participation</th>
            <th>athlete_id</th>
            <th>epreuve_id</th>
            <th>medaille_id</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for titre in titres %}
            <tr>
                <td>{{ titre.id_participation }}</td>
                <td>{{ titre.athlete_id }}</td>
                <td>{{ titre.epreuve_id }}</td>
                <td>{{ titre.medaille_id }}</td>
                <td>
                    <a href="/gestion/titre/{{ titre.id_participation }}/show" class="btn btn-info">Voire</a>
                    <a href="/gestion/titre/{{ titre.id_participation }}/edit" class="btn btn-warning">Modifier</a>
                    <a href="/gestion/titre/{{ titre.id_participation }}/sup" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="/gestion/titre/new" class="btn btn-success">Créer</a>
{% endblock %}