{% extends 'back.njk' %}

{% block title %}{{ title }}{% endblock %}

{% block bodyback %}
    <h1>{{ title }}</h1>
    <form>
        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" class="form-control" id="Nom" placeholder="Nom" name="Nom" value="{{ sport.Nom }}">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
{% endblock %}