{% extends 'back.njk' %}

{% block javascript %}
    <script src="/js/form/athlete/form_athlete.js" type="module" defer></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block bodyback %}
    <input type="hidden" id="type_url_api" value="{{ type_url_api }}">
    <h1>{{ title }}</h1>
    <div class="message" role="alert"></div>
    <form>
        <div class="form-group">
            <label for="nom">nom :</label>
            <input type="text" class="form-control" id="nom" placeholder="nom" name="nom" value="{{ athlete.nom }}">
        </div>
        <div class="form-group">
            <label for="prenom">prenom :</label>
            <input type="text" class="form-control" id="prenom" placeholder="prenom" name="prenom" value="{{ athlete.prenom }}">
        </div>
        <div class="form-group">
            <label for="prenom">age :</label>
            <input type="number" class="form-control" id="age" placeholder="age" name="age" value="{{ athlete.age }}">
        </div>
        <div class="form-group">
            <label for="sexe">sexe</label>
            <select class="form-control" id="sexe" name="sexe">
                <option {% if athlete.sexe == 'H' %}selected="selected"{% endif %}>H</option>
                <option {% if athlete.sexe == 'F' %}selected="selected"{% endif %}>F</option>
            </select>
        </div>
        <div class="form-group">
            <label for="pays_id">pays_id :</label>
            <select class="form-control" id="pays_id" name="pays_id">
                {% for pay in pays %}
                    <option {% if athlete.pays_id == pay.id_pays %}selected="selected"{% endif %} value="{{ pay.id_pays }}">{{ pay.id_pays }} - {{ pay.Nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="Image">Image :</label>
            <input type="text" class="form-control" id="Image" placeholder="Image" name="Image" value="{{ athlete.Image }}">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
{% endblock %}