{% extends "base.njk" %}

{% block javascript %}
<script src="/js/form/connexion/form_connexion.js" type="module" defer></script>
{% endblock %}

{% block title %}
    Connexion
{% endblock %}

{% block body %}
    <input type="hidden" id="type_url_api" value="{{ type_url_api }}">
    <h1>Connexion</h1>
    <hr>
    <div class="message" role="alert"></div>
    <form>
        <div class="form-group">
            <label for="email">email :</label>
            <input type="email" class="form-control" id="email" placeholder="email" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">mot de passe :</label>
            <input type="password" class="form-control" id="pwd" placeholder="pwd" name="pwd">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Connexion</button>
    </form>
    <hr>
    <a href="/inscription/">Vous n'avez pas de compte</a>
{% endblock %}