{% extends "base.njk" %}

{% block title %}
    Sport
{% endblock %}

{% block body %}
    <h1>Sports</h1>
    {% for epreuve in epreuves %}
        <a href="/epreuve/{{ epreuve.id_epreuve }}"><p>{{ epreuve.Nom }}</p></a>
    {% else %}
        <p>Aucune épreuve enregistré</p>
    {% endfor %}
{% endblock %}