{% extends "base.njk" %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
    <div class="row">
    <h1>{{ title }}</h1>
    <p>Cliquer sur un athlete pour voir ses informations</p>
    <hr>
    {% for athlete in athletes %}

            <article class="col-4 mb-4" key={article.id}>
                <div class="card">
                    <h2 class="card-header">
                        {{ athlete.prenom }} {{ athlete.nom }}, {{ athlete.age }} ans
                    </h2>
                    <div class="card-img article_contenu">
                        <img class="imageCart" src="{{ athlete.Image }}" alt=""/>
                    </div>
                </div>
            </article>
        
    {% else %}
        <p>Aucun Athlete enregistré</p>
    {% endfor %}
    </div>
{% endblock %}